# mod_rewrite starts here
RewriteEngine on

# do not apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# do ont run rule if file with the name and .html ext doesn't existing
RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that had the .html ext
RewriteRule ^(.*)$ $1.html [NC,L]