
html{
  min-width: 1040px;
}

body{
  color: rgb(25,35,50);
  -webkit-font-smoothing: antialiased;
  margin: auto;
  width: 1320px;
  height: 850px;
  max-width: 1320px;
  position: relative;
  font-family: "PT Serif", serif;
  top: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

h1{
  margin: 10px auto;
  position: relative;
  left: 420px;
}

#metric-select-parent{
  position: absolute;
  left: 190px;
  top: 26px;
  width: 210px;
  height: 675px;
}

#metric-select-all{
  display: inline-block;
  padding: 5px;
  background-color: rgb(245,245,245);
  border: 1px solid black;
  width: 65px;
  height: 10px;
  text-align: center;
  font-size: 12px;
}

#metric-deselect-all{
  display: inline-block;
  padding: 5px;
  background-color: rgb(245,245,245);
  border: 1px solid black;
  width: 65px;
  height: 10px;
  text-align: center;
  font-size: 12px;
}

#metric-selections{
  position: absolute;
  bottom: 0px;
  height: 638px;
  width: 200px;
  padding: 5px;
  background-color: rgb(245,245,245);
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
}

#instructions{
  position: absolute;
  right: 0px;
  top: 10px;
  width: 200px;
}

svg{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#svg-container{
  width: 650px;
  height: 650px;
  position: absolute;
  left: 420px;
  top: 50px;
}

.matrix-svg{
  position: absolute;
  left: 0px;
  top: 0px;
}

text{
  display: block;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  fill: rgb(0, 0, 0);
}

.scatter-plot{
  float: right;
  position: absolute;
  right: 0px;
  bottom: 107px;
}

.scatter-axes{
  max-width: 200px;
  max-height: 200px;
}

.mouseover-textbox{
  height: 55px;
  fill: rgb(200,200,220);
  stroke: rgb(0,0,0);
  stroke-width: 1px;
  fill-opacity: 0.75;
}

.background-rect{
  fill: rgb(0,0,0);
  stroke: #000000;
  stroke-width: 1px;
}

#hover-rect{
  fill-opacity: 0;
  stroke: rgb(0,255,0);
  stroke-opacity: 1;
  stroke-width: 1.5;
  pointer-events: none;
}

#qselections{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 185px;
}

#qselections h2, h3{
  position: relative;
  left: 0px;
  top: 0px;
  width: 170px;
}

#qselection-arrow{
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right:10px solid black;
  position: absolute;
  top: 800px;
}

#qselections div.inactive{
  font-size: 14px;
  text-align: center;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px;
  border: 1px solid black;
  background-color: rgb(220,220,220);
  width: 170px;
}

#qselections div.active{
  font-size: 14px;
  text-align: center;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px;
  border: 1px solid black;
  background-color: rgb(240,240,240);
  width: 170px;
}

#qselections div.selected{
  font-size: 14px;
  text-align: center;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px;
  border: 1px solid black;
  background-color: rgb(200,200,200);
  -webkit-box-shadow: inset 0px 0px 5px rgb(100,100,100);
  box-shadow: inset 0px 0px 5px rgb(100,100,100);
  width: 170px;
}

.metric-selection-div-inactive{
  color: rgb(100,100,100);
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  background-color: none;
  cursor: default;
}

.metric-selection-div-active{
  color: black;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  background-color: rgb(200,200,200);
  cursor: default;
}

