


html{
  min-width: 1040px;

  /* declare color variables*/
  --primary-bg-color: rgb(23,23,23);
  --secondary-bg-color: rgb(28,28,28);
  --active-bg-color: rgb(67,69,71);
  --inactive-bg-color: rgb(47,49,51);
  --active-tab-color: rgb(33,33,33);
  --axis-color: rgb(175, 180, 180);
  --high-emph-txt: rgba(255,255,255,0.87);
  --med-emph-txt: rgba(255,255,255,0.72);
  --low-emph-txt: rgba(255,255,255,0.38);
}

body{
  background-color: var(--primary-bg-color);
  color: var(--high-emph-txt);
  margin: auto;
  width: 1320px;
  height: 1725px;
  max-width: 1320px;
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  top: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

h1{
  margin: 10px 0px 10px 0px;
  position: relative;
  left: 420px;
  font-size: 50px;
  color: var(--high-emph-txt)
}
h2{
  color: var(--high-emph-txt);
}
h3{
  margin-bottom: 0.5em;
}
ol{
  color: var(--med-emph-txt);
}
hr{
  border: 1px solid var(--low-emph-txt)
}
a.active-link{
  color: rgb(170,170,255);
}
a.inactive-link{
  color: var(--med-emph-txt);
}
div .disabled{
  pointer-events: none;
  opacity: 0.5;
}
ol{
  color: var(--med-emph-txt);
}
hr{
  border: 1px solid var(--low-emph-txt)
}
a.active-link{
  color: rgb(170,170,255);
}
a.inactive-link{
  color: var(--med-emph-txt);
}
div .disabled{
  pointer-events: none;
  opacity: 0.5;
}



#instructions{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  font-size: 14px;
}
#matrix-header{
  width: 650px;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 420px;
}
#matrix-header select{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 130px;
}
#matrix-header span{
  position: absolute;
  bottom: 0px;
  right: 140px;
  font-size: 16px;
}
#clear-selections{
  position: absolute;
  bottom: 0px;
  display: block;
  padding: 5px;
  float: right;
  border: 1px solid black;
  width: 120px;
  height: 8px;
  text-align: center;
  line-height: 8px;
  font-size: 12px;
}



#colorbar{
  position: absolute;
  right: 150px;
  top: 290px;
}

select{
  margin-left: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--med-emph-txt);
  font-size: 15px;
}
textarea{
  width: 100%;
  resize: none;
  overflow-y: scroll;
}
textarea::-webkit-scrollbar{
  background-color: var(--inactive-tab-color);
  width: 8px;
}
textarea:-webkit-scrollbar-thumb{
  background: var(--active-bg-color);
}
select:focus, textarea:focus{
  outline: none;
}
th, td{
  padding: 20px 20px 0px 0px;
  text-align: left;
  vertical-align: top;
}
th p, th span, td p, td span{
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 100;
  fill: var(--med-emph-txt);
}


svg{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  shape-rendering: optimizeSpeed;
}


#svg-container{
  width: 650px;
  height: 650px;
  position: absolute;
  left: 420px;
  top: 50px;
}

#matrix-svg{
  position: absolute;
  left: 0px;
  top: 0px;
}

.matrix-rect{
  stroke-opacity: 0;
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.scatter-plot{
  float: right;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.scatter-plot text{
  fill: var(--med-emph-txt);
  font-size: 11px;
}
.scatter-plot path{
  stroke: #000000;
}
.scatter-dot{
  fill: rgb(200,200,200);
}

.scatter-axes{
  max-width: 200px;
  max-height: 200px;
}

.mouseover-textbox{
  height: 55px;
  fill: rgb(200,200,220);
  stroke: rgb(0,0,0);
  stroke-width: 1px;
  fill-opacity: 0.75;
}

.background-rect{
  fill: rgb(0, 0, 0);
  stroke: #000000;
  stroke-width: 1px;
}

#hover-rect{
  fill-opacity: 0;
  stroke: rgb(0,255,0);
  stroke-opacity: 1;
  stroke-width: 1.5;
  pointer-events: none;
}

#qselections{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 185px;
  color: var(--med-emph-txt);
}

#qselections h2, h3{
  position: relative;
  left: 0px;
  top: 0px;
  width: 170px;
}

#qselection-arrow.on{
  width: 0; 
  height: 0;
  margin: 0px;
  padding: 0px;
  border-left: none;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right:10px solid black;
  position: absolute;
  top: 800px;
}

#behavior-selection-div{
  position: relative;
  top: 0px;
}
#behavior-selection-div div,
#assay-selection-div div{
  font-size: 14px;
  text-align: center;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px;
  border: 1px solid black;
  width: 170px;
  height: 17px;
  line-height: 17px;
}

#qselections div.inactive{
  background-color: var(--inactive-bg-color);
}

#qselections div.active{
  background-color: var(--active-bg-color);
}

#qselections div.selected{
  background-color: var(--active-bg-color);
  -webkit-box-shadow: inset 0px 0px 5px rgb(50,50,50);
  box-shadow: inset 0px 0px 5px rgb(50,50,50);
}

#metric-select-parent{
  position: absolute;
  left: 190px;
  top: 0px;
  width: 212px;
  height: 675px;
}
#metric-select-buttons{
  position: absolute;
  top: 25px;
  right: 0px;
}
#metric-select-buttons div{
  margin-left: 3px;
  display: block;
  padding: 5px;
  float: right;
  border: 1px solid black;
  width: 86px;
  height: 8px;
  text-align: center;
  line-height: 8px;
  font-size: 12px;
}
.buttons div, .buttons input{
  margin: 5px 0px 5px 5px;
  padding: 5px;
  display: inline-block;
  border: 1px solid black;
  width: 86px;
  height: 8px;
  text-align: center;
  line-height: 8px;
  font-size: 12px;
}
#metric-select-buttons div.inactive,
#clear-selections.inactive,
.buttons div.inactive,
.buttons input.inactive{
  background-color: var(--inactive-bg-color);
}
#metric-select-buttons div.active,
#clear-selections.active,
.buttons div.active,
.buttons input.active{
  background-color: var(--active-bg-color);
}
#metric-select-buttons div.selected,
#clear-selections.selected,
.buttons div.selected{
  background-color: rgb(200,200,200);
  -webkit-box-shadow: inset 0px 0px 5px rgb(100,100,100);
  box-shadow: inset 0px 0px 5px rgb(100,100,100);
}

#metric-selections{
  position: absolute;
  top: 50px;
  height: 638px;
  width: 200px;
}
.scroll-div{
  color: var(--med-emph-txt);
  padding: 5px;
  background-color: var(--secondary-bg-color);
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: var(--active-bg-color) var(--inactive-tab-color);
  scrollbar-width: 8px;
}
.scroll-div::-webkit-scrollbar{
  background-color: var(--inactive-tab-color);
  width: 8px;
}
.scroll-div::-webkit-scrollbar-thumb{
  background: var(--active-bg-color);
}

.scroll-div div{
  border: 1px solid transparent;
  font-size: 12px;
  padding: 0px 0px 0px 5px;
  cursor: default;
}
.scroll-div div.inactive{
  color: var(--low-emph-txt);
  background-color: none;
}
.scroll-div div.active{
  color: var(--med-emph-txt);
  background-color: var(--inactive-bg-color);
}

.tab-parent{
  border: 1px solid black;
  border-top: none;
  display: block;
  width: 100%;
  height: 875px;
  position: absolute;
  background-color: var(--active-tab-color);
}

#tab-div li{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 15%;
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
#tab-div li.active{
  background-color: var(--active-tab-color);
  border-bottom: 1px solid var(--active-tab-color);
}
#tab-div li.inactive{
  background-color: var(--secondary-bg-color);
  border-bottom: none;
}

#tab-header span,
#tab-header select,
#tab-header h2{
  left: 70px;
  position: relative;
  display: inline-block;
  height: auto;
  margin: 20px 10px 0px 10px;
}
#tab-header select:focus{
  outline: none;
}

.tab-content{
  margin: 20px;
  display: block;
  height: auto;
}
#metric-loadings-tab div.tab-content{
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
.tab-content::-webkit-scrollbar{
  background-color: var(--secondary-bg-color);
  width: 8px;
}
.tab-content::-webkit-scrollbar-thumb{
  background: var(--active-bg-color);
}

.y-axis text{
  fill: var(--med-emph-txt);
  font-size: 10px;
}
.axis text{
  fill: var(--med-emph-txt);
  font-size: 10px;
}
.axis line{
  stroke: #000000;
}
.axis path{
  stroke: #000000;
}

.loadings-svg{
  display: inline;
  padding: 10px;
}
.pval-svg{
  display: inline;
  padding: 10px;
}

#hist-div{
  width: 40%;
  height: auto;
  float: right;
  margin-top: 15px;
  margin-right: 50px;
}
